* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,*:focus,*:hover{
    outline:none;
}
/*body {*/
/*    min-height: 100%;*/
/*}*/
html,body { height: 100%; margin: 0px; padding: 0px; }

ul {
    padding-left: 20px;
}

li {
    margin-left: 10px;
}

.product-item {
    margin-bottom: 20px;
    margin-right: 20px;
    clear: both;
}

.product-item__link {
    display: block;
    padding: 0px 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.products .product-item {
    width: 340px;
}

.product_item__price {
    font-weight: bold;
    padding: 10px;
    float: left;
}


.product-item .btn-buy {
    float: right;
}

.product-item {
    overflow: hidden;
}

.product-item::after {
    display:block;
    clear:both;
}

.product_item__img {
    width: 300px;
    height: 300px;
}


input[type="text"], 
input[type="password"], 
textarea,
select {
    width: 270px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    padding: 5px 10px;
}


.black-button {
    border-radius: 5px;
    border: 0px;
    background-color: #FF6600;
    color: white;
    text-decoration: none;
    padding: 10px;    
    margin: 5px 5px 5px 0px;
}

.black-button:hover {
    background-color: green;
    cursor: pointer;
}

.black-button_sm {
    padding: 4px 10px;
    border-radius: 4px;
}

.header {
    height: 80px;
    padding: 5px;
    background-color: #104386;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.header a:hover {
    /*border-bottom: 1px solid white;*/
    text-decoration: underline;
    text-underline-offset: 8px;
}

.header__login {
    height: 20px;
    margin: 0px 10px;
}

.header__bottom {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;   
    height: 40px;
    padding: 10px;
    width: 100%;
}

.header__menu {
    display: flex;
    align-content: center;
}
.header__cart{
    position: relative;
    width: 50px;
    text-decoration: none;
}

.header__cart a:hover{
    border-bottom: none;
}
.count_in_cart {
    color: #222555;
    position: absolute;
    top: 4px;
    right: -6px;
    background-color: white;
    min-width: 16px;
    height: 16px;
    border-radius: 9px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 2px;
}
.right_menu {
    display: flex;
    align-items: center;

}
.right_menu div + div {
    margin-left: 20px;
}

hr {
    height: 0px;
    border-top: 0px;
    border-bottom: 1px solid #cccccc;
    outline: 0px;
    margin: 10px 0px;
}

p {
    margin: 10px 0;
}

h2, h3 {
    margin: 10px 0;
}

.container {
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: white;
    min-height: calc(100% - 90px); /* 90 - шапка */
}

.cart__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.cart__item_right {
    display: flex;
    flex-wrap: nowrap;
}


.total_cart{
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.clearfix::after {
    content: '';
    clear: both;
    overflow: hidden;
    display: block;
}

.cart__item_buttons {
    margin-left: 10px;
}

.auth-form, .form-feedback {
    width: 300px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

.auth-form__bottom {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;    
}

.auth-form__bottom div {
    display: flex;
    align-content: center;  
    padding-top: 10px;
}

input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
}

.error_message {
    color: red;
    font-weight: 600;
}

.header__login {
    display: flex;
    justify-content: space-between;
}

a.header__login-href {
    margin-right: 10px;
    padding: 2px 0px;
    height: 27px;
}    

.feedback-author {
    margin: 10px 0;
    font-weight: 600;
}

#make_order {
    display: none;
}


td, th {
    border: 1px solid #cccccc;
    padding: 5px;
    margin: 0px;
}

.news-item {
    padding: 0 10px;
    font-size: 16px;

}
.logo {
    width: 200px;
}

.filters {
    background-color: #E1D4C0;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
}
.filters form {
    display: flex;
    justify-content: space-between;
}
.filters form select{
    width: 100%;
    margin-right: 3%;
    height: 40px;
}
.filters form button{
    width: 50%;
    margin-right: 3%;
    height: 40px;
}
.background {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}
.background img{
    margin: 0 5%;
    height: 100%;
}
.message_products{
    font-size: 25px;
    font-weight: 600;
}