{# {% include 'orders.twig' %}
{% include 'edit.twig' %} #}
<button> <a href="/admin/orders" class="">Заказы</a></button>
<button><a href="/admin/models" class="">Редактор моделей</a></button>
<button><a href="/admin/products" class="">Редактор товаров</a></button>