     <h2>Заказ №{{ id }} успешно оформлен {{ date }}.</h2>
     <p>Ожидайте, с вами свяжется наш менеджер!</p>
     <p>Вы можете отслеживать статус заказа по <a href="/order/{{ uId }}">ссылке</a>.</p>
     <br>
     <p><a href="/catalog" class="black-button">Продолжить покупки</a></p>