<div class="auth-form">
<p class="error_message{{ no_error }}">{{ message }}</p>    
<h3>Профиль пользователя</h3>
<form class="repass" action="/profile" method="post">
    <input type="text" name="login" placeholder="Логин" required readonly value="{{ login }}">
    <input type="text" name="name" placeholder="Ваше имя" required value="{{ userName }}">
    <input type="password" name="new-password" placeholder="Новый пароль (не обязательно)" autocomplete="off">
    <input type="password" name="current-password" placeholder="Текущий пароль" required autocomplete="off">
    <div class="auth-form__bottom">
        <button type="submit" id="btn-login" class="black-button selection-form-button">Изменить</button>
        <a href="?logout" class="logout-button black-button selection-form-button">Выйти</a>
    </div>    
</form>
</div>
<hr>
{% include 'orders.twig' %}